<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="container-sm" th:each="bvo, status:${bvo}">
            <h1>Board Detail Page</h1>
            <form action="/board/modify" method="post" id="modForm">
            <div class="mb-3">
                <label for="n" class="form-label">bno</label>
                <input type="text" class="form-control" name="bno" id="n" th:value="${bvo.bno}" readonly="readonly">
            </div>
            <div class="mb-3">
                <label for="t" class="form-label">title</label>
                <input type="text" class="form-control" name="title" id="t" th:value="${bvo.title}" readonly="readonly">
            </div>
            <div class="mb-3">
                <label for="w" class="form-label">writer</label>
                <input type="text" class="form-control" name="writer" id="w" th:value="${bvo.writer}" readonly="readonly">
            </div>
            <div class="mb-3">
                <label for="r" class="form-label">regAt</label>
                <input type="text" class="form-control" name="regAt" id="r" th:value="${bvo.regAt}" readonly="readonly">
            </div>
            <div class="mb-3">
                <label for="m" class="form-label">modAt</label>
                <input type="text" class="form-control" name="modAt" id="m" th:value="${bvo.modAt}" readonly="readonly">
            </div>
            <div class="mb-3">
                <label for="c" class="form-label">content</label>
                <textarea class="form-control" id="c" name="content" aria-label="With textarea" readonly="readonly">[[${bvo.content}]]</textarea>
            </div>
            <button type="button" id="listBtn" class="btn btn-outline-primary">List</button>
                <!-- detail page 에서 modify 상태로 변경하기 위한 버튼 -->
            <button type="button" id="modBtn"  class="btn btn-outline-warning">Modify</button>
            <button type="button" id="delBtn" class="btn btn-outline-danger">Remove</button>
            </form>
            <form action="/board/remove" method="post" id="delForm" style="display: none">
                <input type="hidden" name="bno" th:value="${bvo.bno}">
            </form>
        </div>
        <script th:src="@{/js/boardDetail.js}"></script>
    </th:block>
</th:block>
</html>
